.hospitalCard {
  width: 786px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cardDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hospitalDetails {
  width: 487px;
  height: 220px;
  display: flex;
  justify-content: space-around;
}

.details {
  text-align: start;
}

.hospitalDetails img {
  object-fit: none;
  object-position: center;
}

.availability {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  padding-bottom: 60px;
}

.address p {
  margin: unset;
  font-weight: 700;
  font-size: 14px;
}

.expandedDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* 
.expandedContainer {
  width: 740px;
  background-color: #f5f8ff;
  border-radius: 10px;
  margin-top: 16px;
  padding: 16px;
}

.slotButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 12px 0;
}

.slotGroup > p {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
} */
