.hospitalCard {
  width: 786px;
  /* height: 100%; */
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* margin: 10px 0;  */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
}

.hospitalsCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adds space between each card */
  /* background-color: #f0f4f8;  */
  padding: 20px; /* Optional: Adds padding around the container */
}


.cardDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.hospitalDetails {
  width: 487px;
  height: 220px;
  display: flex;
  justify-content: flex-start;
}

.details {
  text-align: start;
}

.hospitalDetails img {
  object-fit: none;
  object-position: center;
}

.availability {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 220px;
  padding-bottom: 20px;
}

.address p {
  margin: unset;
  font-weight: 700;
  font-size: 14px;
}

.expandedDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
