.myBookingshospitalCard {
  width: 786px;
  height: 268px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.myBookingscardDetails {
    display: flex;
    align-items: center;
  justify-content: space-around;
}

.myBookingshospitalDetails {
  width: 487px;
  height: 220px;
  display: flex;
  justify-content: space-around;
}

.myBookingsdetails {
  text-align: start;
}

.myBookingshospitalDetails img {
  object-fit: none;
  object-position: center;
}

/* 
.appointmentDate span{
    
} */

/* .availability {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 220px;
  padding-bottom: 20px;
} */

.myBookingsaddress p {
  margin: unset;
  font-weight: 700;
  font-size: 14px;
}



