.navbarContainer {
  width: 100%;
  height: 96px;
  background-color: white;
  /* overflow-x: hidden; */
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .navbar ul {
  display: flex;
  width: 800px;
  justify-content: space-around;
  list-style: none;
  align-items: center;
} */

.tabs{
    display: flex;
    width: 978px;

}

.tabs button{
    height: 40px;
    width: 130px;
    font-size: small;
}